div{
    border: solid 1px rgb(0, 0, 0);
    margin-top: 50px; /*tag margin serve para deixar espaçamento na margem*/
    margin-right: 50px; /*Direito*/
    margin-bottom: 50px;
    margin-left: 50px;
}
p{
    border: solid 1px rgb(0, 225, 255);
}