html{
    font-size: 1em;
}
#pai{
    font-size: 16x;
}

p{
    font-size: 1em; /*multiplicador de pixel*/
}

img{
    width: 350px;
}

#primeiraImagem{
    float: right;
}

#segundaImagem{
    float: left;
    clear: none;
}
